<div class="row mt-5 justify-content-center">
    <form action="/" method="POST">
        <div>
            <input type="text" placeholder="請輸入網址" name="originalURL">
            {{#if error}}<p class="text-danger m-0">{{error}}</p>{{/if}}
        </div>
        <button type="submit" class="btn btn-success mt-2">submit</button>
    </form>
</div>

<h5>{{test}}</h5>