<div class="row mt-5 justify-content-center">
    <form action="/" method="POST">
        <input type="text" placeholder="請輸入網址" name="originalURL">
        <button type="submit" class="btn btn-success">submit</button>
    </form>
</div>

<h5>{{test}}</h5>