<div class="container mt-3">

    <h2>新的短網址是</h2>

    <a href="{{website}}/{{URL.shortenURL}}">
        <h2>{{website}}/{{URL.shortenURL}}</h2>
    </a>

    <a class="btn btn-primary" href="/" role="button">返回</a>

</div>